
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.swiper {
  height: 2%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imglist{
  padding: 1vmin;
  width: 30vw;
}

.padding{
  padding: 5vmin;
}

.flex-scroll{
  display: flex;
  /* align-items: center; */
  overflow: auto;
}

.empty-img{
  max-width: 40%;
  height: auto;
  display: table;
  margin: 2vmin auto;
}

.align-center{
  text-align: center;
}